//Art direction on the project

//classic theme
$Background: #ECECEC;
$Primary-color: #9fd3c7;
$Second-color: #385170;
$Detail-color: #142d4c;

//dark theme
$darkBackground: "";
$darkPrimary-color: "";
$darkSecond-color: "";
$darkDetail-color: "";